<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YummyYum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1B603BB221B36A800B23E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B603CF221B36AB00B23E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B603DA221B36AB00B23E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
